<!DOCTYPE html>
<html>
  <head>
    <title>Mr. Fix-It!</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>
  <body>

    <nav>
      <div class="nav-wrapper">
        <a href="/" class="brand-logo">Mr. Fix-It</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><%= link_to "Jobs", jobs_path %></li>
          <% if worker_signed_in? %>
            <li><%= link_to "Dashboard", worker_path(current_worker) %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
            <li class="login-notice"><em>Worker: <%= current_worker.email %> <b></em></li>
          <% elsif user_signed_in? %>
            <li><%= link_to "Add Jobs", new_job_path %></li>
            <li><%= link_to "Log Out", destroy_user_session_path, :method => :delete %></li>
            <li><%= link_to "Register as a Worker", new_worker_path %></li>
            <li class="login-notice"><em>User: <%= current_user.email %></em></li>
          <% else %>
          <li><%= link_to "Register as a Worker", new_worker_path %></li>
          <li><%= link_to "Register to Post Jobs", new_user_registration_path %></li>
          <li><%= link_to "Log In as User", new_user_session_path %></li>
          <li><%= link_to "Log In as Worker", new_worker_session_path %></li>
          <% end %>
        </ul>
      </div>
    </nav>

    <div class="container">
      <div class="flash-alert">
        <%= flash[:alert] %>
      </div>
      <div class="flash-notice">
        <%= flash[:notice] %>
      </div>
      <%= yield %>
    </div>
  </body>
</html>
